@font-face {
    font-family: 'bariol_regularregular';
    src: url('bariol_regular-webfont.eot');
    src: url('bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('bariol_regular-webfont.woff') format('woff'),
         url('bariol_regular-webfont.ttf') format('truetype'),
         url('bariol_regular-webfont.svg#bariol_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  background: #000000 url('../logo.jpg') left bottom no-repeat;
  background-size: 374px 403px;
  font-family: bariol_regularregular;
}

.reveal {
  color: #FFFFFF;
  font-family: bariol_regularregular;
}

.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}

.reveal h1, .reveal h2 {
  padding-bottom: 25px;
  line-height: 1.2em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  color: #FFF;
  text-transform: none;
  font-family: bariol_regularregular;
}

.technology img {
  width: 40%;
}
.schedule {
  font-size: 0.6em !important;
}

tbody {
  width: 100%;
}

td, th {
  padding: 5px 10px !important;
}

.results h3 {
  margin-top: -100px;
  padding-bottom: 40px;
}

.results td, .results th {
  padding: 5px 15px !important;
}

.reveal pre {
  margin: 5px auto;
  background: none;
}

.reveal pre code {
  background: #242424;
}
